.home {
  background-color: lightgrey;
  height: calc(100vh);
}

.add-application-form {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

@media only screen and (max-width: 600px) {
  .add-application-form {
    width: 80%;
  }
}

.companyName,
.positionTitle,
.location,
.postingLink {
  width: 100%;
  padding: 12px;
  margin-top: 4px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid rgb(139, 139, 139);
  box-sizing: border-box;
}

.add-application-form-button {
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  background-color: #222b40;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.add-application-form-button:hover {
  background-color: #222b4094;
  cursor: pointer;
}

/*
.radiobutton {
  display: inline-block;
  float: right;
  padding-left: 20px;
}
*/

.radiobutton {
  max-width: 200px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
