.edit-application-form-button {
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  background-color: #222b40;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.edit-application-form-button:hover {
  background-color: #222b4094;
  cursor: pointer;
}

.radiobutton {
  max-width: 200px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
