/*----------GLOBAL STYLES----------*/
body {
  font-family: "Lato", sans-serif !important;
}

/*----------FILTER CHECKBOXES----------*/

.checkbox {
  display: inline;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.application-filter-container {
  padding-left: 5%;
  display: inline-block;
}

.add-application-button {
  float: right;
  width: 170px;
  height: 40px;
  color: white;
  font-size: 16px;
  background-color: #222b40;
  border-radius: 4px;
  margin-right: 5%;
}

.add-application-button:hover {
  cursor: pointer;
  background-color: #222b40e1;
}

/*----------JOB CARDS----------*/

.job-container {
  padding-top: 50px;
}

.job-card {
  background-color: white;
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
  transition: 0.3s;
}

/*.job-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor:pointer;
}*/

.job-title,
.job-status,
.job-link {
  padding-left: 30px;
}

.job-status,
.job-link {
  padding-top: 5px;
}

.job-title {
  font-weight: 600;
  font-size: 20px;
}

.notes {
  padding-left: 30px;
  padding-top: 10px;
}

/*----------JOB BUTTONS FOR EDIT AND DELETE----------*/

.job-card-button {
  color: white;
  font-size: 16px;
  background-color: #222b40;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  border-radius: 4px;
}

.job-card-button:hover {
  cursor: pointer;
  background-color: #222b40e1;
}

/*----------PAGE LEVEL----------*/

.home {
  height: 1000px;
  overflow: auto;
}

.page-action-container {
}

@media only screen and (max-width: 600px) {
  .job-title,
  .job-status,
  .job-link {
    padding-left: 0;
  }

  .job-title {
    font-weight: 600;
    font-size: 14px;
  }
  .job-card-button {
    color: white;
    font-size: 16px;
    background-color: #222b40;
    width: 200px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .job-card {
    text-align: center;
    width: 95%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .add-application-button {
    float: none;
    display: block;
    width: 90%;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: #222b40;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  .job-container {
    padding-top: 20px;
  }
}
