body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-bar {
  height: 50px;
  background-color: #222b40;
}

.header-bar-title{
  color:white;
  font-family: athelas, serif;
}

.landing-title{
  font-family: athelas, serif;
}

.landing-page{
  background: url(/images/background.jpg) no-repeat; /*Remember to add the image and the folder! */
}